#sectionTxt{
    text-align: center;
} 

figure{
    text-align: center;
}

.imagenes{
    width: 40vw;
    height: 500px;
}

.video{
    width: 40vw;
    height: 500px;
    text-align: center;
}

 @media (max-width:1024px){
    .video{
        width: 80vw;
    }
    .contenido{
        align-items: center;
        gap: 30px;
    }
    iframe{
        width: 80vw;
        height: 30vh;
    }
 }

 @media (max-width:425px){
    .imagenes{
        height: 70vw;
    }
    iframe{
        height: auto;
    }
 }

 @media(max-width:320px){
    iframe{
        width:80vw;
    }
}