

/* #video1{
    text-align: center;
}

#video2{
    text-align: center;
}
*/
/* #sectionImg{
    text-align: center;
} */

#sectionTxt{
    text-align: center;
} 

figure{
    text-align: center;
}

.imagenes{
    width: 40vw;
    height: 500px;
}

.video{
    width: 40vw;
    height: 500px;
    text-align: center;
}