h2{
    grid-area: h2;
}

#divCast{
    grid-area:div;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.figureReparto{
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgReparto{    
    height: auto;
    display:block;
    border-style:solid;
    border-color: #E86A68;
    border-radius: 12px;
    width: 245px;
    height: 313px;
}

figcaption{
    padding: 10px 0px;
    width: 245px;
}

@media (max-width:1024px){
    .figureReparto{   
        flex: 0 0 50%;
    }
    figcaption{
        font-size: 25px;
    }
    
}
@media (max-width:425px){
    #divCast{
        flex-direction: column;
        align-items: center;
        
    }
    
}