h2{
    padding-top: 300px;
}

main{
    height:700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
}

a{
    text-decoration: none;
    border-style:solid;
    border-color: #E86A68;
    padding: 5px;
    width: 200px;   
    color: #5C2028;
}

#volverInicio:hover{
    background-color:#5C2028;
    color:#FFECAF;
}