#trailer{
    text-align: center;
}
#trama{
    text-align: center;
    background-color: rgba(255,236,175,0.5);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}
#poster{
    text-align: center;
}

@media(max-width:1024px){
    section p{
        font-size: 30px;
        line-height: 2.5rem;
    }
}

@media(max-width:425px){
    main{
        align-items: center;
    }
    img{
        width: 80vw;
    }
    #trailer{
        width: 100vw;
    }
    iframe{
        width: 90vw;
    }
    .textoP{
        padding: 0px 10px;
    }
}