main{    
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    grid-template-areas: 
    "poster poster"
    "trama trama"
    "trailer trailer";
}

#trailer{
    grid-area:trailer;
    text-align: center;
}
#trama{
    grid-area:trama;
    text-align: center;
}
#poster{
    grid-area:poster;
    text-align: center;
}