figure{
    text-align: center;
}

.imagenes{
    width: 40vw;
    height: 500px;
}

@media (max-width:1024px){
    .imagenes{
        width: 80vw;
        height: 50vh;
    }
    #imgWes{
        width: 80vw;
    }
}

@media (max-width:425px){
    .imagenes{
        width: 80vw;
        height: 25vh;
    }
    #imgWes{
        width: 80vw;
    }
}