*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FFECAF;
    color: #5C2028;
    font-family: 'Josefin Sans';
    display:flex;
    flex-direction: column;
    gap:3rem;
background-color: #ffecaf;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23a494bf' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
header{
    text-align: center;
    grid-area: header;
    margin:20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}
main{
    display: flex;
    flex-direction: column;
    gap:3rem;
}
footer{
    grid-area:footer;
    text-align: center;
    margin-bottom: 15px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
    padding: 10px 0px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 1.35rem;
    line-height: 30px;
}
nav{
    margin:0 auto;
    
}
hr{
    background-color: #5C2028;
    border:none;
    height: 2px;
}
.contenido{
    display:flex;
    flex-direction: row; 
    
    background-color: rgba(255,236,175,0.5);
    backdrop-filter: blur(2px);
}

.contenido div{
    flex: 0 0 50%;
}
.contenido figure{
    flex: 0 0 50%;
}
.hrlength{
    width: 700px;
}
.subrayado{
    text-decoration: underline;
}
#navList{
    list-style-type: none;
    margin:0px;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.ulStyle{
    list-style-type: none;
}

.imgBorder{
    border-style:solid;
    border-color: #E86A68;
    border-radius: 12px;
}
.aList{
    text-decoration: none;
    color: #5C2028;
    font-size: 25px;
}

.aList:hover{
    background-color: #5C2028;
    color: #FFECAF;
}
.navItem{
    margin-right: 1rem;
    border-style:solid;
    border-color: #E86A68;
    padding: 5px;
}

.textoImagen{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-style: italic;
}
.textoP{
    text-align: justify;
    text-justify: inter-word;
}

#mainContact{
    height: 725px;
}


@media (max-width:1024px){
    #navList{
        flex-direction: column;
    }

    main{
        padding:0px;
    }
    .navItem{
    margin-right: 0;
    }
    .contenido{
    flex-direction: column;   
    }
    .subrayado{
        text-align: center;       
    }
    h2{
        font-size: 40px;
    }
    .contenido p{
        font-size: 30px;
        line-height: 2.5rem;
        padding: 0 40px;
    }
    .contenido figure figcaption{
        font-size: 30px;
    }
    .contenido figure{
        padding: 30px 0;
    }
    footer{
        font-size:25px;
    }
}
@media (max-width:425px){
    .contenido p{
        text-align: center;
        padding: 0 20px;
    }   
}